.awards-section { background: rgba(var(--bg) / 100%); padding: calc(var(--space-xxxl) * 2) 0; position: relative; }

.award-row { display: flex; align-items: center; position: relative; padding: var(--space-md) var(--space-lg); border-bottom: 1px solid rgba(var(--accent) / 40%); cursor: pointer; z-index: 1; justify-content: center; }
.award-row .company { color: #dcdbdb; }
.award-row.active .company { color: rgba(var(--bg) / 100%); }
.award-row.active { color: rgba(var(--bg) / 100%); border-bottom: 1px solid rgba(var(--bg) / 100%); }

[data-theme="light"] .awards-section { color: rgba(var(--bg) / 100%); }
[data-theme="light"] .award-row .company { color: rgba(var(--bg) / 100%); }
[data-theme="light"] .award-row.active .company { color: rgba(var(--accent) / 100%); }
[data-theme="light"] .award-row { border-bottom: 1px solid rgba(var(--bg) / 100%); }
[data-theme="light"] .award-row.active { color: rgba(var(--accent) / 100%); border-bottom: 1px solid #ccc; }

.awards-header-title-highlight { align-content: center; font-size: 2rem; font-style: italic; }
.awards-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: calc(var(--space-xxl) * 3); }
.awards-header H2 { margin-bottom: 0; }
.awards-header .awards-header-title { width: 27%; display: flex; }
.awards-header .awards-header-description { width: 30%; font-size: 1.3rem; font-weight: 300; }
.awards-header .awards-header-description-highlight { padding: 0 3rem; }

.awards-list { position: relative; }

.award-row .year { width: 10%; font-size: 1.4rem; font-weight: 300; transition: all 0.5s; }
.award-row .company { width: 25%; font-size: 1.4rem; transition: all 0.5s; }
.award-row .title { width: 63%; font-size: 1.4rem; transition: all 0.5s; }
.award-row .image-container { width: 30%; max-width: 500px; position: absolute; right: 10%; bottom: 100%; overflow: hidden; pointer-events: none; display: flex; }
.award-row .image-container img { width: 100%; opacity: 0; transform: translateY(20px); transition: all 0.5s ease; }
.award-row.active .image-container img { opacity: 1; transform: translateY(0); }

.highlight { position: absolute; top: 0; left: 0; width: 100%; pointer-events: none; background: transparent; border-bottom: 2px solid rgba(var(--accent) / 100%); opacity: 0; z-index: 0; transition: none; }