.contact-section { padding: calc(var(--space-xxxl) * 2) 0; position: relative; }

.contact-header { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 60px; }
.contact-header .section--title { width: 40%; margin-bottom: 0; }

.contact-item-first { width: 50%; }
.contact-item-first .contact-header-description { width: 65%; line-height: 1.2; }

.contact-container { display: flex; gap: 10rem; scroll-behavior: smooth; }
.contact-item-second { width: 60%; }

.contact-form { display: inline-flex; display: ruby; font-size: 2.4rem; display: flex; flex-flow: wrap; row-gap: var(--space-sm); font-family: "InstrumentSerifRegular",serif; }
.contact-form .input--wrapper { width: 100%; display: flex; flex-flow: row wrap; align-items: center; }
.contact-form .form-group { flex: 1; padding: 0 0 0 var(--space-sm); }
.contact-form .contact-message { flex: 100%; padding: 0; }

.form-control { display: flex; width: 100%; background: none; border: none; border-bottom: 1px solid rgba(var(--accent) / 30%); padding: var(--space-xs) 0; font-size: 18px; color: rgba(var(--accent) / 100%); }
.form-control:focus { outline: none; box-shadow: none; border-bottom: 1px solid rgba(var(--accent) / 100%); }
.contact-message .form-control { width: 100%; align-content: end; padding-bottom: 20px; margin-bottom: 2rem; }

.contact--info--list { display: grid; grid-template-columns: repeat(2, 1fr); gap: 50px; margin-top: 60px; }
.contact--info--list .title { font-size: 21px; font-weight: 300; color: #f9f8fc30; text-transform: uppercase; margin-bottom: 12px; }
.contact--info--list .info--box { display: flex; flex-direction: column; align-items: flex-start; }
.contact--info--list a,
.contact--info--list address { width: 100%; font-size: 21px; font-weight: 300; color: #f9f8fc; margin-bottom: var(--space-sm); position: relative; font-style: normal; }
.contact--info--list a::before { position: absolute; content: ""; right: 0; top: 100%; width: 0; height: 1px; background: rgba(var(--accent) / 100%); transition: all 0.5s; }
.contact--info--list a:hover::before { width: 100%; left: 0; right: auto; }
.contact--info--list .social--links { display: flex; flex-flow: row wrap; align-items: center; gap: 24px; }
.contact--info--list .social--links a { width: auto; font-size: 21px; font-weight: 300; color: #f9f8fc; margin-bottom: 12px; position: relative; }
