.wrapper { display: flex; justify-content: space-between; align-items: flex-start; gap: 20px; }
.groupOne { flex: 0 0 35%; }

.tabListWrapper { display: flex; flex-flow: row wrap; align-items: center; gap: 24px; margin-bottom: 80px; }
.tabBtn { color: rgba(var(--accent) / 50%); font-size: 18px; text-transform: uppercase; transition: all 0.5s; }

.tabBtn.active { border: none; color: rgba(var(--accent) / 100%); text-decoration: underline; text-underline-offset: 10px; }

.ctaBtn { padding: 12px 20px; border: 1px solid rgba(var(--accent) / 100%); background: transparent; color: rgba(var(--accent) / 100%); cursor: pointer; font-weight: bold; border-radius: 4px; transition: 0.5s; }
.ctaBtn:hover { background: rgba(var(--accent) / 100%); color: rgba(var(--bg) / 100%); }

.gap { flex: 0 0 20%; }

.faqDiv { flex: 0 0 55%; display: flex; flex-direction: column; }
.faqItem { border-bottom: 1px solid #444; cursor: pointer; transition: all 0.5s; }
.faqItem p { font-size: 22px; color: rgba(var(--accent) / 50%); margin-bottom: 0; transition: all 0.5s; }
.faqQuestion { display: flex; justify-content: space-between; align-items: center; font-weight: 400; padding: calc(var(--space-xs) / 2 * 5) 0; }

.faqItem.active { padding: 0 0 var(--space-xl); }
.faqItem.active p { color: rgba(var(--accent) / 100%); }


.arrow { margin-left: 10px; opacity: 0.7; }
.arrow img { transition: all 0.5s; }

.faqAnswerWrapper { max-height: 0; overflow: hidden; transition: all 0.5s; }

.faqAnswer { margin-top: 10px; font-size: 20px; line-height: 1.4; padding-top: var(--space-xs); margin-top: 0; width: 100%; color: rgba(var(--accent) / 70%); }
.active .faqAnswer { color: #c4c4c4; }
