@font-face { font-family: "InstrumentSerifRegular"; src: url("../../public/font/InstrumentSerif-Regular.ttf") format("truetype"); font-style: normal; }
@font-face { font-family: "ClashGroteskVariable"; src: url("../../public/font/ClashGrotesk-Variable.ttf") format("truetype"); font-style: normal; }
@font-face { font-family: "OverusedGroteskLight"; src: url("../../public/font/OverusedGrotesk-Light.ttf") format("truetype"); font-style: normal; }
@font-face { font-family: "OverusedGroteskSemiBold"; src: url("../../public/font/OverusedGrotesk-SemiBold.ttf") format("truetype"); font-style: normal; }
@font-face { font-family: "OverusedGroteskMedium"; src: url("../../public/font/OverusedGrotesk-Medium.ttf") format("truetype"); font-style: normal; }
@font-face { font-family: "OverusedGroteskRoman"; src: url("../../public/font/OverusedGrotesk-Roman.ttf") format("truetype"); font-style: normal; }

:root { --bg: 13 13 13; --text: 245 245 245; --accent: 255 255 255; --font-sm: 14px; --font-md: 1.2rem; --font-lg: 20px; --font-xl: 28px; --space-xs: 8px; --space-sm: 16px; --space-md: 24px; --space-lg: 32px; --space-xl: 40px; --space-xxl: 48px; --space-xxxl: 56px; --font-size-h1: 4rem; --font-size-h4: 2rem; --padding-small: 8vh; --padding-medium: 15vh; --padding-large: 30vh; --gap-large: 80px; --section-height: 100vh; --btn-radius: 6px; }

*, dl, ol, ul { margin: 0; padding: 0; box-shadow: none; border: none; box-sizing: border-box; list-style: none; }
h1, h2, h3, h4, h5, h6 { font-family: "OverusedGroteskRoman", sans-serif; font-weight: 400; }

*,
ul,
ol,
li,
a { margin: 0; padding: 0; list-style-type: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-weight: 400; line-height: 120%; color: inherit; color: rgb(var(--white) / 100%); }
input,
input:focus,
textarea,
textarea:focus,
.form-control,
.form-control:focus { -webkit-box-shadow: none; box-shadow: none; outline: none; background: transparent; color: rgb(var(--white) / 70%); font-family: OverusedGroteskRoman, sans-serif; }
.btn:focus, .form-check-input:focus { box-shadow: none; }
*,
a,
button:hover,
button:focus { text-decoration: none; outline: 0; color: inherit; }
button { background: transparent; outline: none; -webkit-box-shadow: none; box-shadow: none; cursor: pointer; }
.form-select:focus { box-shadow: none; }
[type=reset], [type=submit], button, html [type=button] { -webkit-appearance: none; outline: none; border: none; }
a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }
a:hover { color: inherit; }

.form-control::placeholder { color: rgba(var(--text) / 20%); opacity: 1; }

span { font-family: "InstrumentSerifRegular"; }
nav, li, body, p { font-family: "ClashGroteskVariable", sans-serif; }

[data-theme="light"] { --bg: 255 255 255; --text: 13 13 13; --accent: 0 0 0; }

html, body { font-size: 16px; color: rgba(var(--text) / 100%); height: 100%; background-color: rgba(var(--bg) / 100%); color: rgba(var(--text) / 100%); transition: background-color 0.3s ease, color 0.3s ease; }
body p { font-size: 20px; color: rgba(var(--text) / 60%); margin-bottom: var(--space-sm); }

.container-fixed { max-width: 1800px; margin: 0 auto; }
.fluid-container { position: fixed; top: 0; left: 0; z-index: 2; }
.fluid-canvas { width: 100vw; height: 100vh; }

@media screen and (min-width: 2048px) {
  .container { max-width: 1920px; }

}

.section--title { font-size: 96px; line-height: 100%; font-weight: 200; margin-bottom: var(--space-lg); }
.section--subtitle { font-size: 36px; line-height: 122%; font-family: "InstrumentSerifRegular",serif; margin-bottom: var(--space-md); }
h5.title { font-family: "ClashGroteskVariable", sans-serif; }
.subtitle { font-family: "OverusedGroteskLight", sans-serif; font-size: 1.2rem; margin-bottom: 2rem; text-align: right; font-weight: 100; text-transform: uppercase; }
.page--title { font-size: 64px; line-height: 1; margin-bottom: 0; }

a { color: inherit; text-decoration: none; }

button { font-family: inherit; border: none; cursor: pointer; background: none; }
.btn { position: relative; overflow: hidden; display: inline-block; padding: var(--space-xs) var(--space-sm); border-radius: var(--btn-radius); cursor: pointer; font-weight: 400; transition: background-color 0.5s; }
.btn-primary { background: var(--accent); color: var(--bg); border: none; }
.btn-primary:hover { background: #e5e5e5; }
.btn-primary:hover .btn-text { color: var(--bg); }

.btn-secondary { background: transparent; color: var(--accent); border: 2px solid var(--accent); }
.btn-secondary .btn-text { color: var(--accent); border: 2px solid var(--accent); }
.btn-secondary:hover { background: var(--accent); color: var(--bg); }

.btn-text-wrapper { display: block; position: relative; overflow: hidden; }
.btn-text { display: block; transition: transform 0.4s ease; font-size: 16px; color: rgba(var(--text) / 100%); font-weight: 500; text-transform: uppercase; line-height: 1; letter-spacing: 0.5px; margin-bottom: 0; }
.btn-text:first-child { transform: translateY(0); }
.btn-text:last-child { position: absolute; left: 0; top: 100%; transform: translateY(0); }
.btn:hover .btn-text:first-child { transform: translateY(-100%); }
.btn:hover .btn-text:last-child { transform: translateY(-100%); }

.hero { position: relative; min-height: 100vh; padding-top: calc(var(--header-height) + var(--space-xxxl)); overflow: hidden; background: var(--bg); color: var(--accent); }
.hero-wrapper { display: flex; align-items: flex-end; justify-content: flex-start; position: relative; z-index: 2; margin-bottom: -50px; }
.hero .section--title { font-family: "InstrumentSerifRegular",serif; margin-bottom: var(--space-xs); }

.hero-left { width: 100%; text-align: right; margin-top: 4rem; padding-right: var(--space-lg); }
.hero-left .hero-highlight { display: inline-flex; height: 30px; padding: 0 var(--space-xxxl); position: relative; margin: 0 var(--space-sm); }
.hero-left .hero-highlight::before { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; height: 5px; background: rgba(var(--accent) / 100%); }

.gap { width: 8%; }

.hero-middle { width: 100%; text-align: left; margin: auto; margin-bottom: 100px; padding: 0 var(--space-sm); }
.hero-buttons { display: flex; gap: var(--space-sm); margin-top: 2rem; }

.hero-right { width: 20%; }

.hero-video, .hero--bg { display: flex; overflow: hidden; clip-path: polygon(50% 100px, 50% 0, 100% 0, 100% 100%, 0 100%, 0 100px); position: relative; transform-origin: center top; height: 100vh; }
.hero-video video, .hero--bg img { width: 100%; height: 100%; object-fit: cover; }
.hero-video { margin: 0 auto; transition: width 0.3s ease; }

.services--banner .hero--bg { height: auto; }

.about-section-full { padding: calc(var(--space-xxxl) * 2) 0; overflow: hidden; }
.about-section { display: flex; flex-flow: row wrap; justify-content: space-between; align-items: flex-start; min-height: 30vh; }
.about-left { width: 48%; }

.about-description { padding-left: 15rem; }
.about-description .right-line { display: block; text-align: right; padding-right: 2rem; }
.about-description .left-line { display: block; text-align: left; }

.about-gap { width: 4%; }

.about-right { width: 48%; text-align: left; }
.about-left .section--subtitle.about-line { width: 80%; margin-bottom: var(--space-xxxl); }
.about-grid { padding: 0 calc(var(--space-xxxl) * 2); display: grid; grid-template-columns: repeat(2, 1fr); gap: calc(var(--space-xxxl)); }
.about-line-description { margin-bottom: var(--space-lg); width: 90%; }
.about-line.subtitle { padding: 0 calc(var(--space-xxxl) * 2); margin-bottom: 6rem; }

.grid-item { position: relative; display: flex; flex-flow: row wrap; }
.grid-item .title { width: 100%; font-size: 20px; margin-bottom: var(--space-md); position: relative; }
.grid-item .title::after { content: ""; display: block; height: 1px; background: rgb(233, 231, 231); margin-top: 0.25rem; margin-left: auto; }
.grid-item .number { width: 100%; font-size: 95px; line-height: 1; font-weight: lighter; }
.grid-item .number:has( + p) { margin-bottom: var(--space-sm); }

.soap-bubble-bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -10; pointer-events: none; user-select: none; background: radial-gradient(circle at center, #0b1220 0%, rgba(var(--bg) / 100%) 100%); }

.swiper-button-prev, .swiper-button-next { position: absolute; bottom: -20px; right: 20px; width: 30px; height: 30px; cursor: pointer; z-index: 9999; background: transparent; border: none; outline: none; }
.swiper-button-prev { right: 60px; }
.swiper-button-prev::after, .swiper-button-next::after { content: ""; display: inline-block; width: 10px; height: 10px; border-top: 2px solid rgba(var(--accent) / 100%); border-right: 2px solid rgba(var(--accent) / 100%); box-sizing: border-box; position: relative; top: 50%; transform: translateY(-50%); }
.swiper-button-prev::after { transform: translateY(-50%) rotate(-135deg); }
.swiper-button-next::after { transform: translateY(-50%) rotate(45deg); }

.description-highlight-space { padding: 0 4rem; }

.faq-section { padding: calc(var(--space-xxxl) * 2) 0; }

.footer { display: flex; justify-content: space-between; padding: 6rem 60px 60px 4rem; font-family: sans-serif; }
.footer-group { display: flex; align-items: flex-start; flex-direction: column; }
.footer-left { flex: 0 0 25%; }
.footer-logo { width: 150px; margin-bottom: 10px; }
.footer-address { font-size: 18px; line-height: 1.4; margin-top: 0.8rem; }
.footer-address + .btn { margin-bottom: var(--space-lg); }
.footer-btn { margin: 10px 0; padding: 8px 16px; border: 1px solid rgba(var(--accent) / 52%); background: transparent; color: rgba(var(--accent) / 100%); cursor: pointer; border-radius: 50px; transition: all 0.5s; }
.footer-btn:hover { background: rgba(var(--accent) / 100%); color: #111; opacity: 1; }
.footer-phone { font-size: 2.5rem; margin-top: 5px; font-weight: 300; font-family: "ClashGroteskVariable", sans-serif; }
.footer-middle { flex: 0 0 55%; display: flex; justify-content: space-between; gap: 10px; flex-direction: row; }
.footer-menu h4, .footer-col h4, .sticky-sub-menu h4 { font-size: 14px; text-transform: uppercase; margin-bottom: 1rem; position: relative; display: flex; font-weight: 300; }
.footer-menu h4::after, .sticky-sub-menu h4::after { content: ""; display: block; width: 100%; height: 1px; background: rgba(var(--text) / 100%); opacity: 0.5; margin-top: 5px; margin-left: 1rem; }
.footer-menu ul, .footer-col ul { list-style: none; padding: 0; }
.footer-menu { width: -webkit-fill-available; }
.footer-menu li, .footer-col ul li { width: 100%; font-size: 19px; margin: 6px 0; cursor: pointer; opacity: 0.6; font-weight: 300; transition: all 0.5s; }
.footer-menu li:hover { opacity: 1; }
.footer-right { flex: 0 0 20%; padding-left: 5rem; display: -webkit-inline-box; gap: 40px; display: flex; overflow: hidden; flex-flow: nowrap; }
.footer-col h4 { font-size: 14px; text-transform: uppercase; margin-bottom: 10px; }
.footer-col ul { list-style: none; padding: 0; margin: 0; }
.footer-col li { font-size: 13px; margin: 6px 0; cursor: pointer; }
.footer-col li:hover { opacity: 1; }
.footer-btn { font-size: 1rem !important; margin-bottom: 2rem; text-transform: uppercase; opacity: 0.5; }

.footer-menu ul, .sticky-sub-menu ul, .footer-col ul { display: flex; flex-flow: row wrap; margin-top: 1rem; }

.footer-text { font-size: 1.5rem; opacity: 0.5; }
.footer-bottom { justify-content: space-between; padding: 0 60px 3rem; font-family: sans-serif; display: flex; }
.footer-bottom h4 { opacity: 0.5; font-weight: 100; font-size: 0.9rem; text-transform: uppercase; }
.footer-bottom-left { display: flex; gap: 1rem; }

.header-dropdown { cursor: pointer; }

.sticky-header.show.hide-header { transform: translate(-50%, 50%) scale(.8); opacity: 0; pointer-events: none; }

.spl-word { line-height: 1; }
.spl-char { display: inline-block; white-space: pre; line-height: inherit; will-change: color, transform; }

#fluid { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1; pointer-events: none; background: transparent; }
.custom-cursor { position: fixed; top: 0; left: 0; z-index: 2; pointer-events: none; }

.breadcrumb { display: flex; align-items: center; font-size: 16px; margin: 1rem 0 0; }
.breadcrumb:has(+ *) { margin-bottom: var(--space-xl); }
.breadcrumb-item { position: relative; font-size: 14px; padding: 0; color: rgb(255, 255, 255, 0.5); }
.breadcrumb-item.active { color: rgb(255, 255, 255, 0.7); }

.whatsapp { position: fixed; bottom: 40px; right: 40px; width: 109px; border-radius: 50%; display: flex; align-items: center; justify-content: center; z-index: 1000; }
.whatsapp svg { width: 100%; }