.container { width: 90%; margin: 0 auto; display: flex; align-items: center; }

.header { width: 100%; position: absolute; top: 0; left: 0; z-index: 99; color: rgba(var(--text) / 100%); padding: var(--space-lg) 0 var(--space-md); }

.logo-wrapper { flex: 0 0 auto; }
.logo { font-size: var(--font-lg); font-weight: bold; }

.right-wrapper { flex: 1; display: flex; align-items: center; }

.menu ul { list-style: none; display: flex; flex-wrap: wrap; margin: 0; padding: 0; margin-right: var(--space-xxl); }
.menu li a { position: relative; padding: var(--space-xs) 0; font-size: 20px; font-weight: 400; color: rgba(var(--text) / 50%); transition: all 0.5s; }
.menu li a::after { content: ""; position: absolute; width: 0%; height: 2px; bottom: 0; left: 0; background-color: rgba(var(--accent) / 100%); transition: width 0.3s ease; }
.menu li a:hover::after { width: 0%; }
.menu li a:hover { color: rgba(var(--text) / 100%); }

.menu ul li.primary-menu-list { padding: var(--space-sm); transition: all 0.5s; }
.menu .header-dropdown { border: 1px solid rgba(255, 255, 255, 0); border-bottom: none; }
.menu .header-dropdown.mega-visible-header:hover { border: 1px solid rgba(var(--accent) / 40%); border-bottom: none; }

.cta-wrapper { display: flex; flex-flow: row wrap; justify-content: flex-end; align-items: center; gap: var(--space-sm); }
.cta-wrapper a { display: inline-flex; }

.phone-image { width: 48px; height: 48px; border: 1px solid rgba(var(--accent) / 30%); border-radius: 50%; padding: var(--space-xs); transition: all 0.5s; }
.phone-image:hover { background-color: rgba(var(--accent) / 100%); }
.phone-image img { width: 100%; height: 100%; object-fit: contain; transition: filter 0.5s; }
.phone-image:hover img { filter: invert(1); }

.cta-btn.btn-primary { border-radius: var(--space-lg); border: 1px solid rgba(var(--accent) / 100%); background: transparent; color: rgba(var(--text) / 100%); padding: calc(var(--space-sm) + 1px) var(--space-lg) var(--space-sm); font-size: var(--font-sm); }
.cta-btn.btn-primary:hover { background: rgba(var(--accent) / 100%); color: rgba(var(--bg) / 100%); }
.cta-btn.btn-secondary { border-radius: var(--space-lg); border: 1px solid rgba(var(--accent) / 100%); background: rgba(var(--accent) / 100%); color: rgba(var(--bg) / 100%); padding: calc(var(--space-sm) + 1px) var(--space-lg) var(--space-sm); font-size: var(--font-sm); }
.cta-btn.btn-secondary:hover { background: transparent; color: rgba(var(--text) / 100%); }

.toggle-btn { font-size: var(--font-md); color: rgba(var(--text) / 100%); }

.phone-icon { font-size: var(--font-md); color: rgba(var(--accent) / 100%); }

.sticky-header { padding: 0 var(--space-xl); position: fixed; bottom: 0vh; z-index: 999; display: flex; justify-content: center; align-items: center; justify-self: center; border-radius: 65px; left: 50%; transform: translate(-50%, 50%) scale(0.8); opacity: 0; transition: all 0.5s; }
.sticky-header.show { bottom: 4vh; transform: translate(-50%, 0%) scale(1); opacity: 1; }
.sticky-header .sticky-container { position: relative; }
.sticky-header.light { color: rgba(var(--accent) / 100%); background-color: rgb(0 0 0 / 23%); }
.sticky-header.dark { color: rgba(var(--accent) / 100%); background-color: rgb(0 0 0 / 23%); }

.sticky-menu li.sticky-parent { cursor: pointer; }
.sticky-menu ul { display: flex; gap: 20px; list-style: none; }
.sticky-menu ul a,
.sticky-menu ul .has-dropdown { font-size: 14px; display: block; }

.dropdown { position: absolute; bottom: 100%; left: 150%; transform: translate(-50%, 20px); background: #111; display: flex; flex-direction: row; gap: 20px; padding: 30px 40px; width: max-content; opacity: 0; visibility: hidden; transition: opacity 0.2s ease-out, transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.25s; z-index: 999; pointer-events: none; }
.has-dropdown:hover .dropdown,
.has-dropdown .dropdown:hover { opacity: 1; visibility: visible; transform: translate(-50%, 0px); pointer-events: auto; }

.sticky-sub-menu li { opacity: 0.5; cursor: pointer; font-weight: 300; font-size: 0.9rem; transition: all 0.5s; }
.sticky-sub-menu li:hover { opacity: 1; }
.sticky-sub-menu h4 { margin-bottom: 1.5rem; }

.sticky-sub-menu h4 + a { font-size: 1.5rem; color: rgba(var(--text) / 100%); font-family: "InstrumentSerifRegular",serif; }

.dropdown-columns { display: flex; gap: 40px; }
.dropdown-columns ul { list-style: none; padding: 0; }
.header-dropdown { position: relative; }
.header-dropdown::after { content: ""; position: absolute; bottom: calc((0% - var(--header-height)) + var(--space-md)); left: 0; width: 100%; height: 2px; background: rgba(var(--bg) / 70%); z-index: 2; opacity: 0; transition: all 0.3s; }
.header-dropdown.mega-visible-header::after { opacity: 1; bottom: 0; }

.sticky-menu .sticky-sub-group.sticky-sub-middle { display: inherit; }
.sticky-menu .sticky-sub-group.sticky-sub-middle .sticky-sub-menu { margin-right: 3rem; }
.sticky-menu .sticky-sub-group.sticky-sub-middle .sticky-sub-menu ul { display: grid; }
.sticky-menu .sticky-sub-group.sticky-sub-middle .sticky-sub-menu ul { gap: 8px; }
.sticky-menu .sticky-sub-group.sticky-sub-middle .sticky-sub-menu ul li { font-size: 13px; }

.footer-menu .footer-menu-subtitle, .footer-col .footer-menu-subtitle { font-size: 1.5rem; font-family: "InstrumentSerifRegular",serif; margin-bottom: 1rem; }
.mega-menu { position: fixed; display: flex; width: 100vw; height: calc(100vh - calc(var(--header-height) - var(--space-md)) + 1px); gap: 1.2rem; left: 50%; transform: translateX(-50%) translateY(20px); padding: 3rem; z-index: 1; top: calc(var(--header-height) - var(--space-md)); backdrop-filter: blur(15px); background: rgb(0 0 0 / 70%); opacity: 0; pointer-events: none; transition: opacity 0.3s ease, transform 0.3s ease; border-top: 1px solid rgba(255, 255, 255, 0.25); margin-top: -1px; }

[data-theme="light"] .mega-menu { background: rgba(var(--text) / 80%); }
.mega-visible-header .mega-menu { opacity: 1; pointer-events: auto; transform: translateX(-50%) translateY(0px); }
.mega-menu .col-first { margin-left: 25%; margin-right: 8%; }
.mega-menu ul { gap: 8px; display: grid; margin-top: 1rem; }
.mega-menu .sticky-sub-group { display: flex; gap: 1.2rem; }
.mega-menu .col-first-text { font-size: 2rem; }
.mega-menu .sticky-sub-menu span { font-size: 1.2rem; }

.sticky-menu li.sticky-parent a { font-size: 20px; text-transform: capitalize; opacity: 0.8; padding: var(--space-sm) 0; }
.sticky-menu li.sticky-parent a:hover { opacity: 1.2; }
.sticky-menu li.sticky-parent a:hover:after { width: 0%; }
.sticky-menu li.sticky-parent a:after { content: ""; background-color: rgba(var(--accent) / 100%); width: 0%; height: 1px; transition: width 0.3s; position: absolute; bottom: 0; left: 0; }
.sticky-menu li.sticky-parent ul li a { font-size: 20px; color: rgba(var(--accent) / 100%); padding: calc(var(--space-xs) / 2) 0; }

.sticky-dropdown { position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0px); background: rgb(23 23 23 / 56%); display: flex; flex-direction: row; gap: 20px; width: calc(100% + (var(--space-xl) * 2)); transition: all 0.25s ease-out; z-index: -1; border-radius: 30px; backdrop-filter: blur(10px); max-height: 0px; height: 400px; overflow: hidden; opacity: 0; }
.sticky-dropdown-columns { display: flex; flex-flow: row wrap; padding: 30px; gap: 20px; width: 100%; opacity: 0; }
.sticky-dropdown-wrapper.visible .sticky-dropdown { max-height: 400px; opacity: 1; }
.sticky-dropdown-wrapper.visible .sticky-dropdown .sticky-dropdown-columns { opacity: 1; transition: all 0.25s; transition-delay: 0.25s; }
.sticky-header.blurred { backdrop-filter: blur(10px); }

.sticky-dropdown .column-first { display: flex; gap: 2rem; width: 100%; }
.sticky-dropdown .sticky-maim-menu { display: grid; flex: 1; }
.sticky-dropdown .sticky-maim-menu-load { flex: 1; }
.sticky-dropdown .sticky-maim-menu span { padding: var(--space-sm) 0; transition: all 0.5s; }
.sticky-dropdown .sticky-maim-menu { display: flex; flex-direction: column; align-items: flex-start; }
.sticky-dropdown span.sticky-header-text { font-size: 20px; border-bottom: 1px solid rgba(var(--text) / 30%); width: 100%; }
.sticky-dropdown span.sticky-header-text:last-child, .sticky-dropdown:has( .selected) span.sticky-header-text { border-bottom: none; }
.sticky-dropdown .sticky-maim-menu-load-item ul { display: grid; gap: 4px; }
.sticky-dropdown .sticky-maim-menu-load-item { display: none; }

.sticky-maim-menu-load .sticky-maim-menu-load-item.load-message { padding-top: 1rem; }
.sticky-maim-menu-load .sticky-maim-menu-load-item span { font-size: 1.5rem; }
.sticky-maim-menu-load-item ul li { opacity: 0.8; font-weight: 300; }
.sticky-maim-menu-load-item { display: none; }
.sticky-maim-menu-load-item[style*="display: grid"] { display: grid !important; }
.sticky-header-text,
.sticky-maim-menu-load-item li { cursor: pointer; }
.sticky-maim-menu-load-item li:hover { opacity: 1; }
.sticky-dropdown .sticky-header-text.selected { background-color: rgba(var(--accent) / 80%); color: rgba(var(--bg) / 100%); border-radius: 50px; padding: var(--space-sm) var(--space-md); border-color: transparent; }
