.information-section { position: relative; overflow: hidden; z-index: 1; }
.information-header-band { background-color: #ffd400; color: rgba(var(--bg) / 100%); overflow: hidden; white-space: nowrap; display: flex; align-items: center; }
.information-header-band h2 { font-family: "OverusedGroteskMedium", sans-serif; font-weight: 100; font-size: 3rem; padding: 0; margin: 0; flex-shrink: 0; padding-top: 1rem; }
.marquee-track { display: flex; gap: 4rem; will-change: transform; }

.information-header-band-image { width: 3rem; height: auto; margin: 0 0.5rem; vertical-align: middle; }
.information-container { position: relative; padding: 2rem; }
.information-item-video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; }
.information-header-description,
.information-header-description-span { font-size: 3.5rem; font-weight: 100; }
.information-header-description-span { font-style: italic; }
.information-header-contact { font-size: 5.5rem; font-weight: 400; text-align: right; color: rgba(var(--text) / 100%); line-height: 1; margin-bottom: 0; }
.information-item-second { display: flex; flex-flow: column wrap; gap: var(--space-sm); justify-self: end; margin-top: 30vh; }
.information-header { margin-bottom: -1rem; position: relative; z-index: -2; background-color: #ffd400; overflow: hidden; }