.portfolioSection { padding: calc(var(--space-xxxl) * 2) 0; min-height: 100vh; }

.headerWrapper { display: flex; align-items: flex-start; margin-bottom: calc(var(--space-xxl) * 3); }
.headerTitle { flex: 0 0 50%; }
.headerGap { flex: 0 0 20%; }
.headerText { flex: 0 0 30%; font-size: 1.3rem; font-weight: 300; }

.portfolioDetail { display: flex; flex-flow: row wrap; --gap: calc(var(--space-xs) / 2 * 5); gap: calc(var(--space-xxxl) * 3) calc(var(--gap) * 2); position: relative; transform-style: preserve-3d; overflow: hidden; }

.portfolioCard { position: relative; transform-style: preserve-3d; backface-visibility: hidden; display: flex; flex-flow: row wrap; align-items: flex-start; align-content: flex-start; }
.horizontalVideo { width: 100%; }
.verticalVideo { width: 100%; }
.cardTag { position: absolute; top: 0; left: 0; background: rgba(var(--bg) / 100%); padding: 4px 12px 4px 0px; font-size: 16px; color: #f5f5f5; z-index: 10; text-transform: uppercase; }
.video { width: 100%; height: 100%; object-fit: cover; }
.cardTitle { width: 100%; margin-top: var(--space-sm); font-size: 44px; }
.cardSubtitle { width: 100%; font-size: 40px; font-weight: 100; opacity: 0.7; }
.spaceparagraph { padding: 0px 3rem; }


.portfolioButton { margin-top: calc(var(--space-xxxl) * 2); display: flex; flex-flow: row wrap; justify-content: center; }