.TestimonialsSlider { padding: calc(var(--space-xxxl) * 2) 0; overflow: hidden; }
.wrapper { position: relative; width: 100%; background: rgba(var(--bg) / 100%); margin-top: var(--space-xxxl); justify-content: space-between; align-items: flex-start; background: rgba(var(--bg) / 100%); padding: 0px; gap: 20px; }

.swiper { width: 100%; }
.slide { display: flex; align-items: center; justify-content: center; height: 65vh; }

.spandescription { font-size: 2.2rem; }

.doubleSlide { grid-column: span 2 !important; width: 30% !important; }
.video { width: 100%; height: 100%; object-fit: cover; cursor: pointer; }

.textBox { min-height: -webkit-fill-available; min-height: 65vh; align-content: end; border: 1px solid rgba(var(--text) / 30%); padding: 40px; }
.textBox h3 { font-size: 3.2rem; margin-bottom: 20px; line-height: 1; font-weight: 200; }

.navBtns { position: absolute; bottom: -100px; right: 100px; display: flex; gap: 2rem; z-index: 10; }
.prevBtn,
.nextBtn { background: none; border: none; font-size: 1.4rem; cursor: pointer; transition: opacity 0.3s; color: rgba(var(--text) / 100%); }
.prevBtn:hover,
.nextBtn:hover { opacity: 0.7; }

.popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(var(--bg) / 100%); display: flex; align-items: center; justify-content: center; z-index: 2000; }
.popupInner { position: relative; width: 80%; max-width: 900px; }
.popupVideo { width: 100%; height: 72vh; border-radius: 8px; background: rgba(var(--bg) / 100%); }
.closeBtn { position: absolute; top: -40px; right: 0; background: transparent; border: none; font-size: 2rem; color: rgba(var(--text) / 100%); cursor: pointer; }

.tag { position: absolute; top: 0; left: 0; padding: 5px 10px; border-right: 1px solid rgba(var(--text) / 30%); border-bottom: 1px solid rgba(var(--text) / 30%); background: rgba(var(--bg) / 100%); opacity: 1 !important; font-weight: 300; text-transform: uppercase; font-size: 0.8em; margin-top: -3px; margin-left: -1px; }

.groupOne { width: 50%; }
.groupOne h2 { font-size: 2.5rem; margin-bottom: 20px; font-size: 5.5rem; font-weight: 200; }
.groupOne h4 { font-size: 1.5rem; font-weight: 400; line-height: 1.5; margin-bottom: 20px; }

span.testiDescriptionHighlight { font-size: 3rem; margin-bottom: 1.5rem; display: block; }
.testiDescriptiontext { font-size: 1.2rem; font-weight: 400; margin-bottom: 20px; }
.roletesti { opacity: 0.5; }
