.BrandElevation-section { padding: calc(var(--space-xxxl) * 2) 0; position: relative; overflow: hidden; }
.BrandElevation-header { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 60px; }
.BrandElevation-header .BrandElevation-header-title { width: 50%; }
.BrandElevation-item-first .BrandElevation-header-description { width: 50%; }
.BrandElevation-section .about-left { width: 70%; }
.BrandElevation-section .about-description { width: 50%; padding-left: 0; }