.ElevationServices-section { padding: calc(var(--space-xxxl) * 2) 0; position: relative; perspective: 2000px; transform-style: preserve-3d; overflow: hidden; }
.ElevationServices-header { display: flex; justify-content: space-between; align-items: flex-start; }
.ElevationServices-header .ElevationServices-header-title { width: 60%; }
.ElevationServices-item-first { width: 40%; }
.ElevationServices-item-first .ElevationServices-header-description { width: 100%; }
.ElevationServices-container { display: flex; gap: 10rem; scroll-behavior: smooth; }

.ElevationServices-section .info { width: 50%; margin-left: auto; margin-top: 50px; }
.ElevationServices-section .info .h3 { width: 100%; font-size: 36px; line-height: 1.2; font-family: "InstrumentSerifRegular"; color: rgba(var(--accent) / 100%); margin-bottom: 48px; }
.ElevationServices-section .info .assets--list { display: flex; flex-flow: row wrap; list-style: none; padding: 0; margin: 0; }
.ElevationServices-section .info .assets--list li { padding-bottom: 24px; margin-bottom: 24px; border-bottom: 1px solid rgba(var(--accent) / 50%); width: 100%; }
.ElevationServices-section .info .assets--list .h4 { color: rgba(var(--accent) / 100%); font-size: 34px; font-weight: 400; line-height: 100%; margin-bottom: 16px; }
.ElevationServices-section .info .assets--list p { font-size: 18px; margin-bottom: 0; }