
.CraftingBrands-section { padding: calc(var(--space-xxxl) * 2) 0; position: relative; overflow: hidden; }
.CraftingBrands-header { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 60px; }
.CraftingBrands-header .CraftingBrands-header-title { width: 50%; }
.CraftingBrands-section .about-left { width: 70%; }
.CraftingBrands-section .about-description { width: 50%; padding-left: 0; }

@media screen and (min-width: 2560px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
.CraftingBrands-header { flex-direction: column; margin-bottom: 40px; }
}

@media screen and (max-width: 768px) {
.CraftingBrands-section { padding: 6vh 0; }
.CraftingBrands-header { padding: 0 5vw; }
.CraftingBrands-header .CraftingBrands-header-title { font-size: 1.2rem; }
}

@media screen and (max-width: 480px) {
.CraftingBrands-section { padding: 5vh 0; }
.CraftingBrands-header .CraftingBrands-header-title { font-size: 1rem; }
}
