.ProvenProcess-section { padding: calc(var(--space-xxxl) * 2) 0; position: relative; perspective: 2000px; transform-style: preserve-3d; overflow: hidden; }
.ProvenProcess-header { width: 100%; display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 60px; }
.ProvenProcess-header .ProvenProcess-header-title { width: 75%; }
.ProvenProcess-container { width: 100%; display: flex; flex-flow: row wrap; gap: var(--space-lg); overflow: hidden; }

.ProvenProcess-container .ProvenProcess-item-first { width: 35%; }
.ProvenProcess-container .ProvenProcess-item-first .ProvenProcess-header-description { width: 100%; font-size: 36px; line-height: 1.2; opacity: 0.8; font-family: "InstrumentSerifRegular"; }

.ProvenProcess-container .ProvenProcess-item-second { display: flex; flex-flow: row wrap; overflow: hidden; flex: 1; height: 465px; }
.ProvenProcess-container .ProvenProcess-item-second .swiper { width: 100%; height: 100%; }

.ProvenProcess-container .ProvenProcess-item-second .info--wrapper { width: 100%; display: flex; flex-wrap: wrap; align-items: flex-end; gap: 24px; }
.ProvenProcess-container .ProvenProcess-item-second .info { width: 100%; max-width: 300px; }
.ProvenProcess-container .ProvenProcess-item-second .info .h4 { font-size: 36px; line-height: 1.1; font-weight: 400; margin-bottom: 24px; }
.ProvenProcess-container .ProvenProcess-item-second .info p { font-size: 16px; line-height: 1.4; font-weight: 400; margin-bottom: 0; }
.ProvenProcess-container .ProvenProcess-item-second .img-box { display: flex; flex: 1; }
.ProvenProcess-container .ProvenProcess-item-second .img-box img { width: 100%; height: auto; object-fit: contain; }

.process-slider .swiper-wrapper { transition-timing-function: linear; }
.process-slider .swiper-slide { height: auto; width: auto; }
.process-slider .swiper-slide img { width: 100%; height: 100%; object-fit: contain; object-position: center bottom; }