.WhyWorkWithUs-section { padding: 10vh 0; position: relative; overflow: hidden; }
.WhyWorkWithUs-header { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 60px; padding: 0 2vw; }
.WhyWorkWithUs-header .WhyWorkWithUs-header-title { width: 50%; }

.why--us--wrapper { position: relative; margin-top: 80px; display: flex; flex-flow: row wrap; padding: 0 2vw; }
.why--us--wrapper .why--us--list { width: 100%; list-style: none; display: flex; flex-flow: row wrap; gap: 40px 20px; }
.why--us--wrapper .why--us--list li { flex: 1 1 48%; display: flex; flex-flow: row wrap; padding: 24px 0; border-bottom: 1px solid #6E6E6E; }
.why--us--wrapper .why--us--list li .number { width: 25%; font-family: ClashGroteskVariable, sans-serif; font-size: 22px; color: #fff; opacity: 0.5; }
.why--us--wrapper .why--us--list li .info { width: 60%; }
.why--us--wrapper .why--us--list li .info .title { font-size: 36px; line-height: 1; font-weight: 400; margin-bottom: 16px; }
.why--us--wrapper .why--us--list li .info p { font-size: 20px; font-weight: 400; margin-bottom: 0; }

@media screen and (min-width: 2560px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
.WhyWorkWithUs-header { flex-direction: column; margin-bottom: 40px; }
}

@media screen and (max-width: 768px) {
.WhyWorkWithUs-section { padding: 6vh 0; }
.WhyWorkWithUs-header { padding: 0 5vw; }
.WhyWorkWithUs-header .WhyWorkWithUs-header-title { font-size: 1.2rem; }
}

@media screen and (max-width: 480px) {
.WhyWorkWithUs-section { padding: 5vh 0; }
.WhyWorkWithUs-header .WhyWorkWithUs-header-title { font-size: 1rem; }
}
